.about {
  margin-left: 100px;
  margin-right: 100px;

  .about__title {
    text-align: center;
    font-weight: bold;
    width: 100%;
    text-decoration: underline;
    margin-bottom: 20px;
  }
}
