<input type="text" [(ngModel)]="firstName" (ngModelChange)="removeError()" placeholder="Enter First Name..." />
<input type="text" [(ngModel)]="lastName" (ngModelChange)="removeError()" placeholder="Enter Last Name..." />
<input type="number" [(ngModel)]="age" (ngModelChange)="removeError()" placeholder="Enter Age...." />
<button (click)="submitUser()">Submit User</button>

<h4 *ngIf="errorMessage" class="error-message">{{errorMessage}}</h4>

<!-- Passes the binding of the name variable to socket-card -->
<app-socket-card *ngFor="let user of users" [user]="user"></app-socket-card>
<app-chat-footer></app-chat-footer>
