.header {
  width: 100%;
  height: 50px;
  background-color: mediumspringgreen;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
