.navbar {
  .router-link {
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;

    &:hover {
      color: #CD5C5C;
    }
  }

  .router-link__active {
    color: green;
  }
}
