.navbar {
  .router-link {
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;

    &:hover {
      color: red;
    }
  }

  .router-link__active {
    color: green;
  }
}
