.footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: indianred;
  color: white;
  font-weight: lighter;
  position: absolute;
  bottom: 0px;
}
